.bg__skills {
  background-image: url(../../assets/background-3.png);
  background-size: 2000px 1000px;
  height: 115vh;
}
.skills__container {
  padding-top: 7rem;
  position: relative;
  height: 100%;
}
.title_skills {
  text-align: center;
  background: #cf59bf;
  background: linear-gradient(#cf59bf 7%, #61ff8b 43%, #cfcf5f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 899px) {
  .bg__skills {
    height: 144vh;
  }
}
@media only screen and (max-width: 599px) {
  .bg__skills {
    height: 204vh;
  }
}
@media only screen and (max-width: 399px) {
  .bg__skills {
    height: 224vh;
  }
}
@media only screen and (max-height: 799px) {
  .bg__skills {
    height: 224vh;
  }
}
@media only screen and (max-height: 700px) {
  .bg__skills {
    height: 254vh;
  }
}
