.time {
  height: fit-content;
}

.edu__info {
  padding-top: 7rem;
  margin-bottom: 3rem;
  text-align: center;
  color: rgb(12, 187, 226);
}

.coloree {
  color: white;
}

@media screen and (max-width: 1170px) {
  .coloree {
    color: black;
  }
}
