.aboutme__container {
  padding-top: 7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.bg__about {
  height: fit-content;
  padding-bottom: 2rem;
}
.title_about {
  text-align: center;
  background: #59cf5d;
  background: radial-gradient(#59cf5d 13%, #cf1512 54%, #ffef0f 100%);
  -webkit-background-clip: text;
  font-size: large;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 600px) {
  .aboutme__container {
    text-align: center;
  }
  .text_about {
    max-width: 250px;
  }
}

/* @media only screen and (orientation: landscape) and (max-device-width: 600px) and (min-device-width: 0px) and (max-device-height: 300px) {
  .bg__about {
    height: 350vh;
  }
}

@media only screen and (orientation: landscape) and (max-device-height: 300px) and (min-device-width: 601px) and (max-device-height: 900px) {
  .bg__about {
    height: 240vh;
  }
}
@media only screen and (orientation: landscape) and (max-device-height: 300px) and (min-device-width: 901px) {
  .bg__about {
    height: 300vh;
  }
}

@media only screen and (orientation: landscape) and (min-device-height: 301px) and (max-device-height: 600px) and (min-device-width: 601px) {
  .bg__about {
    height: 200vh;
  }
}
@media only screen and (orientation: landscape) and (min-device-height: 0px) and (max-device-height: 650px) and (max-device-width: 620px) {
  .bg__about {
    height: 200vh;
  }
}

@media screen and (min-width: 901px) and (min-height: 601px) and (max-height: 700px) {
  .bg__about {
    height: 116vh;
  }
} */
